<main>
  <div *ngIf="product">
    <img [src]="product.image" alt="{{ product.name }}" />
    <h2>{{ product.name }}</h2>
    <p>Price: {{ product.price }}$</p>
    <p [ngStyle]="{color: product.nuts ? 'green' : 'red'}">{{nuts()}}</p>
    <p [ngStyle]="{ color: product.vegeterian ? 'green' : 'red' }">
      {{vegs()}}
    </p>    
    <p>Spiciness: {{ product.spiciness }}</p>
    <button routerLink="/main">Go back</button>
  </div>
</main>
  
  




<!-- // "id": 1,
//  "name": "Laab kai chicken salad",
//  "price": 10,
//  "nuts": true,
//  "image": "https://course-jsbasic.javascript.ru/assets/products/laab_kai_chicken_salad.png",
//  "vegeterian": false,
//  "spiciness": 2,
//  "categoryId": 1 -->